<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{#insert title}k7s{/}</title>

    <link rel="shortcut icon" href="k7s/assets/images/favicon.ico">

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

    <style>
        .text-primary {
            /* Kubernetes' official color, see https://github.com/kubernetes/kubernetes/blob/master/logo/colors.md */
            color: #326CE5;
        }
        .bg-primary {
            background-color: #326CE5;
        }
    </style>
</head>
<body class="bg-zinc-100 min-h-screen">

    <main class="w-full">
      {#insert} {/}
    </main>

</body>
</html>