{#include base}
  <div class="flex flex-row">
      {#include resources-view /}

      <div class="w-full m-2 px-2 sm:mx-0 flex max-md:flex-col md:items-start text-zinc-700 overflow-x-hidden">
        <style>
          td, th {
            padding: 0.5rem;
            padding-right: 0;

            line-height: 1.25rem;
            text-align: left;
          }
          @media screen and (min-width: 640px) {
            td, th {
              padding: 0.75rem;
              padding-right: 0;

              line-height: 1.5rem;
            }
          }

          .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        </style>

        <div id="resourceItemsContainer" class="flex flex-col">
          {#fragment id=resourceItems}
              <table class="table-fixed w-full bg-white text-xs sm:text-sm py-4 pr-2 sm:pr-3 text-zinc-700 shadow-md bg-clip-border">
                <thead class="bg-zinc-200 text-zinc-500 border-b border-zinc-500">
                    <tr>
                        <th class="w-[7.25rem] sm:w-[12rem] text-left {#if !isNamespacedResource}hidden{/if}">Namespace</th>
                        <th>Name</th>
                    </tr>
                </thead>

              <tbody>
                {#for item in resourceItems}
                  <tr class="border-b border-zinc-200 even:bg-zinc-100/50 lg:hover:bg-zinc-200 {#if item.isPod}cursor-pointer{/if}"
                        {#if item.isPod}onclick="window.open('/k7s/logs/{item.namespace}/{item.name}', '_blank', 'popup=true,toolbar=true')"{/if}>
                    <td class="truncate {#if !isNamespacedResource}hidden{/if}">{item.namespace}</td>
                    <td class="truncate">{item.name}</td>
                  </tr>
                {/for}
              </tbody>
              </table>

          {/fragment}

        </div>
      </div>
  </div>
{/include}