{#include base}
  <div class="flex flex-row">
      {#include resources-view /}

      <div class="w-full mx-0 my-2 px-2 flex max-md:flex-col md:items-start text-zinc-700 overflow-x-hidden">
        <style>
          td, th {
            padding: 0.5rem;
            padding-right: 0;

            line-height: 1.25rem;
            text-align: left;
          }
          @media screen and (min-width: 640px) {
            td, th {
              padding: 0.75rem;
              padding-right: 0;

              line-height: 1.5rem;
            }
          }

          .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .menu-item {
            height: 2.75rem;
            display: flex;
            align-items: center;

            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-bottom-width: 1px;
            border-color: rgb(228 228 231);

            cursor: pointer;
            user-select: none; /* to now show select text cursor */
          }
          .menu-item:hover {
            background-color: rgb(228 228 231);
          }
          .menu-item:last-child {
              border-bottom: none;
          }

          .mobile-command-item {
              flex-grow: 1;
              display: flex;
              justify-content: center;
              align-items: center;

              width: 25vw;
              max-width: 15.5rem;
              height: 4rem;
              margin: 0.15rem;

              background-color: #326CE5; /* = bg-primary */
              border-radius: 1.0rem;
              user-select: none; /* to now show select text cursor */
          }

          /* remove black drop down arrow in WebKit based browsers */
          input[type="text"]::-webkit-calendar-picker-indicator,
          input[type="search"]::-webkit-calendar-picker-indicator {
              display: none !important;
          }
        </style>

        <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js"></script>

        <div id="commandInputContainer" class="fixed flex items-center w-[20rem] h-[3.5rem] p-2 top-1 right-1 z-[999] bg-primary hidden">
          <input type="search" list="availableCommands" class="w-full h-full p-2 px-1 rounded-full focus:outline-none"
                 onchange="commandInputChanged(event)" onkeydown="commandInputKeyDown(event)" onblur="commandInputLostFocus(event)" />
          <datalist id="availableCommands">
            {#for entry in commandNamesToUrlPath}
              <option value="{entry.key}"></option>
            {/for}
          </datalist>
        </div>

        <div id="resourceItemsContainer" class="flex flex-col">
          {#fragment id=resourceItems}
            <table class="table-fixed w-full bg-white text-xs sm:text-sm py-4 pr-2 sm:pr-3 text-zinc-700 shadow-md bg-clip-border"
                    hx-ext="sse" sse-connect="watch/resources/{resource.group ?: "null"}/{resource.name}{#if selectedNamespace}?namespace={selectedNamespace}{/if}" sse-swap="resourceItemsUpdated">
              <thead class="bg-zinc-200 text-zinc-500 border-b border-zinc-500">
                  <tr>
                    <th class="w-[7.25rem] sm:w-[12rem] text-left {#if !resource.isNamespaced || selectedNamespace != null}hidden{/if}">Namespace</th>
                    <th>Name</th>
                    <th class="w-12"></th>
                  </tr>
              </thead>

              <tbody>
                {#for item in resourceItems}
                  <tr class="border-b border-zinc-200 even:bg-zinc-100/50 lg:hover:bg-zinc-200" tabindex="0"
                      {#if resource.isLoggable}data-logs-url="logs/{resource.name}/{item.namespace}/{item.name}"{/if}
                      onmousedown="onTableRowMouseDown(event)" onkeydown="onTableRowKeyDown(event, '{resource.name}', '{resource.kind}', '{item.namespace}', '{item.name}', {resource.isScalable}, {resource.isDeletable}, {resource.allowDeletingWithoutConfirmation})" >
                    <td class="truncate {#if !resource.isNamespaced || selectedNamespace != null}hidden{/if}">{item.namespace}</td>
                    <td class="truncate">{item.name}</td>
                    <td>
                      <div class="menu-toggler flex justify-center items-center w-full h-full text-zinc-500 text-3xl cursor-pointer" onclick="closeAllMenus(); this.nextElementSibling.classList.toggle('hidden')">&#xFE19;</div>
                      <div class="menu fixed min-w-[9rem] right-2 bg-white text-xl shadow-xl z-10 hidden">
                        <ul class="list-none">
                          {#if resource.isLoggable}<li class="menu-item" onclick="showLogs(event)" data-logs-url="logs/{resource.name}/{item.namespace}/{item.name}">Logs</li>{/if}
                          {#if resource.isScalable}<li class="menu-item" onclick="closeMenu(event)" hx-patch="resource/{resource.name}/{item.namespace}/{item.name}" hx-prompt="Scale {resource.kind} {item.namespace}/{item.name}? Replicas:">Scale</li>{/if}
                          {#if resource.isDeletable}<li class="menu-item" onclick="closeMenu(event)" hx-delete="resource/{resource.name}/{item.namespace}/{item.name}" hx-confirm="Are you sure you want to delete {resource.kind} {item.name}?">Delete</li>{/if}
                          {#if resource.allowDeletingWithoutConfirmation}<li class="menu-item" onclick="closeMenu(event)" hx-delete="resource/{resource.name}/{item.namespace}/{item.name}">Kill</li>{/if}
                        </ul>
                      </div>
                    </td>
                  </tr>
                {/for}
              </tbody>
            </table>

            <script type="text/javascript">
              selectedNamespace = {#if selectedNamespace}"{selectedNamespace}"{#else}null{/if}
              currentPath = "page/resources/{resource.group ?: "null"}/{resource.name}{#if selectedNamespace}?namespace={selectedNamespace}{/if}"
            </script>

          {/fragment}

        </div>

        <div class="fixed w-12 h-12 right-1 bottom-1 p-[0.2rem] bg-primary text-2xl font-bold rounded-lg shadow-md select-none z-[999]"
             onclick="document.getElementById('commandsContainer').classList.toggle('hidden'); return false;">
          <img alt="Kubernetes Logo" src="assets/images/kubernetes-icon-color.svg">
        </div>
        <div id="commandsContainer" class="fixed right-1 bottom-[3.5rem] max-md:left-1 md:max-w-[760px] bg-zinc-300 text-white rounded-2xl shadow-md z-[998] hidden">
          <div class="flex justify-evenly content-stretch mt-[0.15rem] p-[0.125rem]">
            <div class="flex-[1_0_auto] w-[25vw] max-w-[15.5rem] invisible"></div>
            <div class="flex items-center flex-[1_0_auto] w-[25vw] max-w-[15.5rem] h-16 p-2 pl-1 bg-primary rounded-2xl">
              <label for="selectCustomResourceDefinition">CRD</label>
              <select id="selectCustomResourceDefinition" class="w-full h-[2.75rem] ml-1 pl-1 bg-white text-primary rounded-lg" aria-label="Select custom resource definition"
                      onchange="displayResourceItemsFromSelectBox(JSON.parse(this.value), event)">
                {#for resource in customResourceDefinitions}
                  <option value='{ "group": "{resource.group}", "name": "{resource.name}" }'>{resource.kind}</option>
                {/for}
              </select>
            </div>
            <div class="flex items-center flex-[1_0_auto] w-[25vw] max-w-[15.5rem] h-16 p-2 pl-1 bg-primary rounded-2xl">
              <label for="selectStandardResource">Std<br/>Res</label>
              <select id="selectStandardResource" class="w-full h-[2.75rem] ml-1 pl-1 bg-white text-primary rounded-lg" aria-label="Select standard resource"
                      onchange="displayResourceItemsFromSelectBox(JSON.parse(this.value), event)">
                {#for resource in standardResources}
                  <option value='{ "group": "{resource.group}", "name": "{resource.name}" }'>{resource.kind}</option>
                {/for}
              </select>
            </div>
          </div>

          <div class="flex justify-evenly content-stretch mt-[0.15rem] p-[0.125rem]">
            <div class="flex-[1_0_auto] w-[25vw] max-w-[15.5rem] invisible"></div>
            <div class="flex-[1_0_auto] w-[25vw] max-w-[15.5rem] invisible"></div>
            <div class="flex items-center flex-[1_0_auto] w-[25vw] max-w-[15.5rem] h-16 p-2 pl-1 bg-primary rounded-2xl">
              <label for="selectNamespace">Ns</label>
              <select id="selectNamespace" class="w-full h-[2.75rem] ml-1 pl-1 bg-white text-primary rounded-lg" aria-label="Select namespace"
                      onchange="switchToNamespace(this.value, event)">
                <option value=" " {#if selectedNamespace == null}selected{/if}>all</option>
                {#for namespace in allNamespaces}
                  <option value="{namespace.name}" {#if namespace.name == selectedNamespace}selected{/if}>{namespace.name}</option>
                {/for}
              </select>
            </div>
          </div>

          <div class="flex flex-wrap py-[0.125rem]">
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'persistentvolumes', event)">PV</div>
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'persistentvolumeclaims', event)">PVC</div>
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'nodes', event)">Nodes</div>

            <div class="mobile-command-item" onclick="displayResourceItems('rbac.authorization.k8s.io', 'rolebindings', event)">RoleBindings</div>
            <div class="mobile-command-item" onclick="displayResourceItems('rbac.authorization.k8s.io', 'clusterroles', event)">ClusterRoles</div>
            <div class="mobile-command-item" onclick="displayResourceItems('rbac.authorization.k8s.io', 'roles', event)">Roles</div>

            <div class="mobile-command-item" onclick="displayResourceItems(null, 'serviceaccounts', event)">ServiceAccounts</div>
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'secrets', event)">Secrets</div>
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'configmaps', event)">ConfigMaps</div>

            <div class="mobile-command-item" onclick="displayResourceItems('apps', 'daemonsets', event)">DaemonSets</div>
            <div class="mobile-command-item" onclick="displayResourceItems('apps', 'statefulsets', event)">StatefulSets</div>
            <div class="mobile-command-item" onclick="displayResourceItems('apps', 'deployments', event)">Deployments</div>

            <div class="mobile-command-item" onclick="displayResourceItems('networking.k8s.io', 'ingresses', event)">Ingresses</div>
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'services', event)">Services</div>
            <div class="mobile-command-item" onclick="displayResourceItems(null, 'pods', event)">Pods</div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        var selectedNamespace = null
        var currentPath = "page/resources/{resource.group ?: "null"}/{resource.name}{#if selectedNamespace}?namespace={selectedNamespace}{/if}"
        const commandNamesToUrlPath = new Map() // copy commands so that we can access them from JavaScript
        {#for entry in commandNamesToUrlPath}
          commandNamesToUrlPath.set("{entry.key}", {entry.value.raw})
        {/for}
        const commandInputContainer = document.getElementById("commandInputContainer")
        const commandInput = commandInputContainer.querySelector("input")
        const commandsContainer = document.getElementById("commandsContainer")
        const resourceItemsContainer = document.getElementById("resourceItemsContainer")
        var selectedItem = null
        var previousFocusedElement = null

        initializeTable()

        const observer = new MutationObserver((mutationList) => {
          initializeTable() // table data has changed, so re-initialize table
        })
        observer.observe(resourceItemsContainer, { childList: true })

        function initializeTable() {
          const firstTableRow = resourceItemsContainer.querySelector("tbody tr")
          if (firstTableRow) { // there are items in the table
            selectedItem = firstTableRow
            selectedItem.focus()
          }
        }

        function displayResourceItemsFromSelectBox(resource, event) {
          displayResourceItems(resource.group, resource.name, event)
        }

        function displayResourceItems(resourceGroup, resourceName, event) {
          let path = `page/resources/$\{resourceGroup || "null"}/$\{resourceName}`
          if (selectedNamespace) {
            path += `?namespace=$\{selectedNamespace}`
          }

          executeHtmxRequest(path)

          if (event.srcElement.classList.contains("mobile-command-item") || event.srcElement.id == "selectStandardResource" || event.srcElement.id == "selectCustomResourceDefinition") { // a mobile command item has been clicked ..
            commandsContainer.classList.add("hidden") // .. -> hide commandsContainer again
            event.preventDefault() // stop propagating so that it won't reach window.onclick listener which hides commandsContainer
          }
        }

        function switchToNamespace(namespace, event) {
          let path = currentPath
          const indexOfNamespaceQueryParam = path.indexOf("namespace=")
          if (indexOfNamespaceQueryParam > -1) {
            path = path.substring(0, indexOfNamespaceQueryParam) // TODO: this assumes that there is no other query parameter after the namespace query param
            if (namespace) {
              path += "namespace=" + namespace
            }
          } else if (namespace) {
            path += "?namespace=" + namespace // TODO: this assumes that namespace is the only query parameter
          }

          executeHtmxRequest(path)

          commandsContainer.classList.add("hidden")
        }

        function executeHtmxRequest(path, verb) {
          htmx.ajax(verb || "GET", path, "#resourceItemsContainer")
        }

        window.onkeydown = (event) => {
          if (event.key == ":" && document.activeElement != commandInput) { // show and focus commandInput on ':'
            previousFocusedElement = document.activeElement // store current focused element to restore focus when hiding commandInput
            commandInputContainer.classList.remove("hidden")
            commandInput.focus()
            event.preventDefault()
          }
        }

        function onTableRowMouseDown(event) {
          const parentRowElement = event.srcElement.closest("tr")
          if (parentRowElement) {
            setFocusTo(null, parentRowElement) // do not prevent default -> null for event
          } else if (event.srcElement.tagName == "TR") {
            setFocusTo(null, event.srcElement)
          }
        }

        function onTableRowKeyDown(event, resourceName, resourceKind, namespace, itemName, isScalable, isDeletable, allowDeletingWithoutConfirmation) {
          const itemPath = `resource/$\{resourceName}/$\{namespace}/$\{itemName}`

          if (noModifierKeyPressed(event)) {
            if (event.code == "ArrowDown") {
              setFocusTo(event, selectedItem?.nextElementSibling)
            }
            else if (event.code == "ArrowUp") {
              setFocusTo(event, selectedItem?.previousElementSibling)
            }
            else if (event.code == "KeyL") {
              if (selectedItem == event.srcElement) {
                showLogs(event)
              }
            } else if (isScalable && event.code == "KeyS") {
              const countReplica = window.prompt(`Scale $\{resourceKind} $\{namespace}/$\{itemName}? Replicas:`)
              if (countReplica) {
                executeHtmxRequest(itemPath + "?scaleTo=" + countReplica, "PATCH")
                event.preventDefault() // prevent key 'S' from bubbling on
              }
            }
          }
          else if (ctrlIsTheOnlyPressedModifierKey(event)) {
            if (isDeletable && event.code == "KeyD") {
              if (window.confirm(`Are you sure you want to delete $\{resourceKind} $\{itemName}?`)) {
                executeHtmxRequest(itemPath, "DELETE")
                event.preventDefault() // prevent Ctrl+D from bubbling on
              }
            } else if (isDeletable && allowDeletingWithoutConfirmation && event.code == "KeyK") {
                executeHtmxRequest(itemPath, "DELETE")
                event.preventDefault() // prevent Ctrl+K from bubbling on
            }
          }
        }

        function showLogs(event) {
          if (event.srcElement.dataset.logsUrl) {
            window.open(event.srcElement.dataset.logsUrl, "_blank", "popup=true,toolbar=true")

            closeMenu(event) // in case a menu item has been clicked, close menu again
            event.preventDefault()
          }
        }

        function closeMenu(event) {
          const menu = event.srcElement.closest(".menu")
          menu?.classList?.add("hidden") // in case a menu item has been clicked, close menu again
        }

        function closeAllMenus() {
          document.querySelectorAll(".menu").forEach((menu) =>
            menu.classList.add("hidden")
          )
        }

        function setFocusTo(event, item) {
          if (item) {
            selectedItem = item
            item.focus()
            event?.preventDefault()
          }
        }

        function noModifierKeyPressed(event) {
          return !event.ctrlKey && !event.shiftKey && !event.altKey && !event.metaKey
        }

        function ctrlIsTheOnlyPressedModifierKey(event) {
          return event.ctrlKey && !event.shiftKey && !event.altKey && !event.metaKey
        }

        function commandInputChanged(event) {
            const hasFocus = document.activeElement == commandInput
            if (hasFocus == false) { // this method also gets fired when commandInput just gets hidden, e.g. when pressing Escape ->
              event.preventDefault()
              return
            }

            const commandToExecute = commandNamesToUrlPath.get(event.srcElement.value)
            if (commandToExecute) {
              const commandName = commandToExecute.command
              switch (commandName) {
                case "displayResourceItems":
                  displayResourceItems(commandToExecute.resourceGroup, commandToExecute.resourceName, event)
                  break
                case "switchToNamespace":
                  switchToNamespace(commandToExecute.namespace, event)
                  break
                default:
                  console.warn("Unknown command to execute encountered:", commandToExecute, "Known commands are: displayResourceItems, switchToNamespace")
              }
              eval(commandToExecute)
            }
        }

        function commandInputKeyDown(event) {
          if (event.code == "Escape") { // hide commandInput on Escape
            commandInput.blur()
            event.preventDefault()
          }
        }

        function commandInputLostFocus(event) {
          commandInputContainer.classList.add("hidden")
          commandInput.value = ""
          previousFocusedElement?.focus()
        }

        document.addEventListener("click", (event) => {
          if (event.defaultPrevented == false) {
            if (commandsContainer.contains(event.srcElement) == false) {
              commandsContainer.classList.add("hidden") // click outside commandsContainer -> hide commandsContainer again
            }

            if (event.srcElement.classList.contains("menu-toggler") == false) {
              closeAllMenus() // click outside menus -> hide menus again
            }
          }
        })

      </script>
  </div>
{/include}