{#include base}
  <div class="m-2">

    <table class="table-fixed w-full bg-white text-xs sm:text-sm py-4 pr-2 sm:pr-3 text-zinc-700 shadow-md bg-clip-border">
      <tbody>
        {#for entry in logs}
          <tr class="block min-h-[4.5rem] max-h-[6rem] border-b border-zinc-200 even:bg-zinc-100/50 lg:hover:bg-zinc-200">
            <td class="p-2 sm:p-3 leading-5 sm:leading-6">
              {entry}
            </td>
          </tr>
        {/for}
      </tbody>
    </table>

  </div>

  <script type="text/javascript">
    const tableBody = document.getElementsByTagName("tbody")[0]
    const eventSource = new EventSource(window.location.href.replace("logs/", "watch/logs/") + "?since={startWatchingAt}")

    eventSource.onmessage = (event) => {
      const hasScrolledToBottom = (window.innerHeight + Math.round(window.scrollY)) >= document.body.offsetHeight

      if (event.data) {
        // add table row for log line dynamically
        tableBody.innerHTML += `
            <tr class="block min-h-[4.5rem] max-h-[6rem] border-b border-zinc-200 even:bg-zinc-100/50 lg:hover:bg-zinc-200">
              <td class="p-2 sm:p-3 leading-5 sm:leading-6">
                $\{event.data}
              </td>
            </tr>`

        if (hasScrolledToBottom) { // if user has scrolled to bottom before, scroll now to bottom to show new arrived log message
          scrollToBottom()
        }
      }
    }

    scrollToBottom() // so that initially latest messages get displayed

    function scrollToBottom() {
      window.scrollTo(0, document.body.scrollHeight)
    }

    window.onkeydown = (event) => {
      if (event.code == "Escape") { // Close window on Escape
        window.close()
        event.preventDefault()
      }
    }
  </script>
{/include}