<aside class="container max-w-[275px] m-2 mr-0 p-2 bg-white text-zinc-500 shadow-md hidden lg:block">
    <style>
        .resource-cell {
            padding: 0.125rem;
            padding-left: 1.25rem;
            padding-right: 0;

            line-height: 1.25rem;
        }
        @media screen and (min-width: 640px) {
            .resource-cell  {
                padding: 0.2rem;
                padding-left: 1.5rem;
                padding-right: 0;

                line-height: 1.5rem;
            }
        }
    </style>

    <table class="table-fixed w-full text-xs sm:text-[1rem]">
        <tbody>
            {#for resource in highlightedResources}
              <tr class="cursor-pointer lg:hover:bg-[#326CE5] lg:hover:text-white" onclick="displayResourceItems('{resource.group}', '{resource.name}', event)">
                  <td class="resource-cell">
                      {resource.displayName}
                  </td>
              </tr>
            {/for}
        </tbody>
    </table>

    <h2 class="flex items-center mt-6 text-zinc-400 font-semibold cursor-pointer select-none" onclick="toggleResourceListVisibility(this)">
      <span class="inline-block w-[0.85rem] mr-2 text-center text-2xl font-bold text-primary">+</span>Standard resources
    </h2>

    <table class="table-fixed w-full text-xs sm:text-[1rem] hidden">
        <tbody>
            {#for resource in standardResources}
                <tr class="cursor-pointer lg:hover:bg-[#326CE5] lg:hover:text-white" onclick="displayResourceItems('{resource.group}', '{resource.name}', event)">
                    <td class="resource-cell">
                        {resource.displayName}
                    </td>
                </tr>
            {/for}
        </tbody>
    </table>

    <h2 class="flex items-center mt-6 text-zinc-400 font-semibold cursor-pointer select-none" onclick="toggleResourceListVisibility(this)">
      <span class="inline-block w-[0.85rem] mr-2 text-center text-2xl font-bold text-primary">+</span>CRDs
    </h2>

    <table class="table-fixed w-full text-xs sm:text-[1rem] hidden">
        <tbody>
            {#for resource in customResourceDefinitions}
                <tr class="cursor-pointer lg:hover:bg-[#326CE5] lg:hover:text-white" onclick="displayResourceItems('{resource.group}', '{resource.name}', event)">
                    <td class="resource-cell">
                        {resource.displayName} {resource.group}.{resource.version}
                    </td>
                </tr>
            {/for}
        </tbody>
    </table>


  <script type="text/javascript">
    function toggleResourceListVisibility(target) {
        const resourceList = target.nextElementSibling
        resourceList.classList.toggle("hidden")

        const toggleElement = target.querySelector("span")
        const isResourceListHidden = resourceList.classList.contains("hidden")
        if (isResourceListHidden) {
            toggleElement.textContent = "+"
        } else {
            toggleElement.textContent = "-"
        }
    }
  </script>
</aside>